
.img1
{
  height: 100px;
  width:100px;
  margin-left: 550px;
}
.img2
{
  height: 100px;
  width:100px;
  padding-left: 50px;
}
.btn
{
  display: inline-block;
  margin-left: 650px;
  margin-top: 50px;
    height: 30px;
    width: 100px;
    background-color: blue;
}
.bd
{
  padding-left: 600px;
}
